.navbar {
    margin-bottom: 0;
    background-color: #333;
    z-index: 9999;
    border: 0;
    font-size: 16px;
    line-height: 1.42857143;
    letter-spacing: 1.5px;
    border-radius: 0;
}
.carousel-inner>.item>img {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #333;
}
.navbar-brand #logo{
    width:30%;
    margin-top: -10px;
}
.navbar li a, .navbar{
    color: #fff;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff;
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}
.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}
.panel {
    border: 1px solid #40599E;
    border-radius:0;
    transition: box-shadow 0.5s;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #40599E;
    background-color: #fff;
    color: #40599E;
}

.panel-heading {
    color: #fff;
    background-color: #40599E !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.breadcrumb li{
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.breadcrumb a{
    color:#4e4e4e;
}
#about h2 {
      font-size: 30px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #4e4e4e;
      font-weight: 600;
      margin-top: 50px;
      margin-bottom: 30px;
  }
.panel-heading #services{
        color: #fff;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
    }
#about h4 {
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 1.375em;
      color: #4e4e4e;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 30px;
  }
#about p {
        font-size: 20px;
        line-height: 1.375em;
        color: #4e4e4e;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;
  }
#intro p {
      font-size: 16px;
      line-height: 1.375em;
      color: #626262;
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 30px;
  }
#company{
      font-size: 16px;
      font-weight: 400;
      line-height: 1.688rem;
      text-align: justify;
      color: #626262;
      margin-top: 30px;
      margin-bottom: 30px;
}
.tab-content p {
  font-size: 16px;
  line-height: 1.375em;
  color: #626262;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  }
#submenu{
      filter: alpha(opacity=80);
      top: auto;
      bottom: 0;
      left: 3%;
      right: auto;
      margin-bottom: -30px;
    }
#submenu a{
      color: #4e4e4e;
    }
#submenu .nav-tabs>li.active>a{
      color: #555;
}
.banner {
    position: relative;
    z-index: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#product_intro h2{
    color: #4e4e4e;
    font-weight: normal;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2.5rem;
}
#product_intro h2:after {
    content: "";
    width: 150px;
    height: 2px;
    display: block;
    position: relative;
    background: #40599E;
    margin-top: 25px;
    margin-left: 3px;
}
#product_intro h4{
    color: #4e4e4e;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin: 0;
    position: relative;
}
#product_intro p{
    color: #4b4b4b;
    font-weight: normal;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}
#title{
    position: relative;
    z-index: 1;
    margin-top: 170px;
    margin-bottom: -200px;
  }
#title h1{
      color: white;
      font-size: 40px;
    }
#title1_1{
      top: 20%;
      bottom: auto;
      left: 10%;
      right: auto;
      font-size: 66px;
      font-weight: 400;
      letter-spacing: 10px;
      }
#title1_2{
      top: 40%;
      bottom: auto;
      left: 20%;
      right: auto;
      font-size: 54px;
      font-weight: 400;
      letter-spacing: 15px;
      }
#title2_1{
      top: 20%;
      bottom: auto;
      left: auto;
      right: 10%;
      font-size: 66px;
      font-weight: 400;
      letter-spacing: 10px;
      }
#title2_2{
      top: 40%;
      bottom: auto;
      left: auto;
      right: 20%;
      font-size: 54px;
      font-weight: 400;
      letter-spacing: 10px;
      }
#goods{
      top: auto;
      bottom: 0;
      left: 20%;
      right: auto;
      }
#goods li{
      font-size: 24px;
      line-height: 1.375em;
      color: #626262;
      font-weight: 400;
        }
#contact p {
    font-size: 16px;
    line-height: 1.375em;
    color: #626262;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    }
.glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #626262;
  }
#myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      border: none;
      outline: none;
      background-color: #4e4e4e;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 50%;
  }
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
#footer-menu h2 a{
    color:#4e4e4e;
}
#footer-menu h4 a{
    color:#9d9d9d;
}
#footer{
    font-family: monospace;
}
@media screen and (max-width: 768px) {
  .mainBanner{
    top: 0;
    left: 0;
    height: 100px;
  }
  .banner {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 260px;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
  }
  #title{
      position: relative;
      z-index: 1;
      margin-top: 150px;
      margin-bottom: -200px;
    }
  #title h1{
        color: white;
        font-size: 30px;
    }
  #title1_1{
        top: 25%;
        bottom: auto;
        left: 10%;
        right: auto;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 10px;
    }
  #title1_2{
        top: 45%;
        bottom: auto;
        left: 25%;
        right: auto;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 10px;
    }
  #title2_1{
        top: 25%;
        bottom: auto;
        left: auto;
        right: 10%;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 10px;
    }
  #title2_2{
        top: 45%;
        bottom: auto;
        left: auto;
        right: 25%;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 10px;
    }
  #logo{
        width:20%
    }
 }
